.row
  .span4
    %h2 Edit membership
  .span12
    = form_tag room_memberships_url, :method => :put do
      %fieldset
        %legend= "Edit \"#{@room.name}\" membership:"
        - @users.each do |user|
          .clearfix
            = label_tag :"user_#{user.id}", user.full_name
            .input
              = check_box_tag :"room[user_ids][]", user.id, @room.users.include?(user), :id => :"user_#{user.id}"
        .actions
          = submit_tag "Update Membership", :class => "btn primary"
