.row
  .span4
    %h2 Welcome to RadChat
    %p Please confirm your invitation
  .span12
    = form_for(@user, :url => create_user_invitations_path) do |f|
      %fieldset
        %legend Select your username and password
        =f.hidden_field :inv_token, :value => params[:inv_token]
        .clearfix
          = f.label :username
          .input
            = f.text_field :username
        .clearfix
          = f.label :password
          .input
            = f.password_field :password
        .clearfix
          = f.label :password_confirmation
          .input
            = f.password_field :password_confirmation

        / /clearfix
        .actions
          = f.submit "Sign up", :class => "btn primary"
