.row
  .span4
    %h2 Edit company details
  .span12
    = form_for @company, :html => { :multipart => true } do |f|
      %fieldset
        %legend Edit Company
        .clearfix
          = f.label :avatar
          = image_tag @company.avatar.url if @company.avatar.present?
          .input
            = f.file_field :avatar
        .clearfix
          = f.label :name
          .input
            = f.text_field :name
        .clearfix
          = f.label :timezone
          .input
            = f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones
        / /clearfix
        .actions
          = f.submit "Update Company", :class => "btn primary"

.row
  .span13
    &nbsp;
  .span3= link_to "Create new room", new_room_path, :class => 'btn'
.row
  .span4
    %h2 Rooms
  .span12

    - if @company.rooms.present?
      %table
        %thead
          %tr
            %th Room
            %th Members
            %th Manage
        %tbody
          - @company.rooms.each do |room|
            %tr
              %td= link_to room.name, room
              %td
                = room.users.map{|u| u.full_name}.join(', ')
                = raw "(#{link_to("edit", edit_room_memberships_path(room))})"
              %td
                = link_to "Edit room info", edit_room_path(room)


