.row
  .span4
    %h2 Edit your company details
  .span12
    = form_for @company, :html => { :multipart => true } do |f|
      %fieldset
        %legend Edit Company
        .clearfix
          = f.label :avatar
          = image_tag @company.avatar.url if @company.avatar.present?
          .input
            = f.file_field :avatar
        .clearfix
          = f.label :name
          .input
            = f.text_field :name
        .clearfix
          = f.label :timezone
          .input
            = f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones
        / /clearfix
        .actions
          = f.submit "Update Company", :class => "btn primary"

  .span12
    %fieldset
      %legend
        Rooms
        - current_user.current_company.rooms.each do |room|
          = link_to "Edit #{ room.name }", edit_room_path(room)
