.row
  .span4
    %h2 Edit your chat room
  .span12
    = form_for(@room) do |f|
      %fieldset
        %legend Edit room
        .clearfix
          = f.label :name
          .input
            = f.text_field :name
        .clearfix
          = f.label :title
          .input
            = f.text_field :title
        .clearfix
          = f.label :description
          .input
            = f.text_field :description
        .actions
          = f.submit "Update Room", :class => "btn primary"
          = link_to "Delete", room_path(@room), :class => "btn", :method => 'delete', :confirm => "Are you sure?"
