.row
  .span4
    %h2 Welcome to RadChat
    %p RadChat is bla bla bla. Please register.
  .span12
    = form_for(@room) do |f|
      %fieldset
        %legend Add a room
        .clearfix
          = f.label :name
          .input
            = f.text_field :name
        .clearfix
          = f.label :title
          .input
            = f.text_field :title
        .clearfix
          = f.label :description
          .input
            = f.text_field :description
        / /clearfix
        .actions
          = f.submit "Create", :class => "btn primary"
          \&nbsp;
          %button.btn{:type => "reset"} Cancel

