= render 'chat', :room => @room

= link_to "Settings", edit_room_memberships_path(@room)
= link_to "Delete", room_path(@room), :method => "delete", :confirm => "Are you sure?"
= @room.title

.chat_container
  #chat_room
    - @messages.each do |message|
      %p= "#{message.user.username}: #{message.message}"

  = form_tag room_messages_url(@room, :format => 'js'), :id => 'new_message' do
    = text_field_tag :message
    = submit_tag :submit
