= render 'chat', :room => @room

%table#chat_room
  %tbody
    - @messages.each do |message|
      %tr
        %td= message.user.username
        %td= message.message


#chat_line
  = form_tag room_messages_url(@room, :format => 'js'), :id => 'new_message' do
    = text_field_tag :message, nil, :autocomplete => "off"
    = submit_tag :"Send message"
