.topbar{"data-scrollspy" => "scrollspy"}
  .topbar-inner
    .container
      = link_to "RadChat", root_path, :class => 'brand'
      %ul.nav
        %li.active
          %a{:href => "#"} Chat 1
        %li
          %a{:href => "#1"} Chat 2

      .pull-right
        %ul.nav
          - if user_signed_in?
            %li= link_to "Profile", edit_user_registration_path
            %li= link_to "Lobby", lobby_users_path
            %li= link_to "Settings", '#'
            %li= link_to "Sign Out", destroy_user_session_path, :method => :delete
          - else
            %li= link_to "Sign in", user_session_path
            %li= link_to "Register", new_user_registration_path

